
<ion-content>
  <div class="img">
    <div class="header-container">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-label class="title"> <img src="../../assets/img/smp-logo-rect-white.png" class="img"> <span class="subtitle"> The official money transfer comparison service for the pacific Islands.</span></ion-label><br>
      
    </div>

    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-text><Strong>From </Strong></ion-text>
        <ion-col size="4" class="col">
          <img [src]="SendercountryFlag" alt="{{senderFlag}}" class="main-img">
          <p>{{ countryNameFrom }} </p>
        </ion-col>

        <ion-text>To</ion-text>
        <ion-col size="4" class="col">
          <img [src]="countryFlag" alt="{{receiverFlag}}"  class="main-img">
          <p>{{ countryNameTo }}</p>
        </ion-col>
      </ion-row>
   </ion-grid>

    <!-- select amount  -->
    <ion-select [(ngModel)]="selectedAmount" (click)="getresult()">
      <ion-select-option *ngFor="let amt of amount" [value]="amt">{{amt}}</ion-select-option>
    </ion-select>
  
    <ion-button class="filter" shape="round"size="small" (click)="moreFilters()">More Filters</ion-button>
   </div>

    <div>
      <ion-grid class="no-padding">
        <ion-row class="ion-justify-content-end no-padding">
          <ion-col size="3" class="no-padding no-width"> 
            <ion-button 
              class="btn" 
              size="small" 
              [class.highlighted]="isCheapestSelected" 
              (click)="selectCheapest()">Cheapest
            </ion-button>
          </ion-col>

          <ion-col size="3" class="no-padding no-width"> 
            <ion-button 
              class="btn" 
              size="small" 
              [class.highlighted]="!isCheapestSelected" 
              (click)="selectFastest()">Fastest
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

      



     <ion-row class="ion-justify-content-start padding">
       
       <ion-img *ngIf="!isGroup" src="./assets/images/Group-green.png" (click)="GroupPng()" class="dataImg"></ion-img>
       <ion-img *ngIf="isGroup" src="./assets/images/Group.png" (click)="Vector()" class="dataImg"> </ion-img>
  
       <ion-img *ngIf = "!isVector" src="./assets/img/Vector-green.png" (click)="Vector()" class="dataImg"></ion-img>
       <ion-img *ngIf = "isVector" src="./assets/images/Vector.png" (click)="Vector()" class="dataImg"></ion-img>

     </ion-row>
       
      
      <img  class="data-img">
    </div>

  <div *ngIf="isCheapestSelected" id="cheapest">

  <!-- CHEAPEST - !isVector -->
  <div *ngIf="!isVector">
    <ion-card *ngFor="let res of results">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <strong>{{ res.received }} {{ res.currency }}</strong><br>
            <strong><p style="font-size: 5px;">Total Received (NZD)</p></strong>
          </ion-label>
          <ion-label>
            <!-- <img [src]="'https://test.sendmoneypacific.org/wp-content/uploads/logos/' + res.operatorsimage" /> -->
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <strong>{{res.transferSpeedTitle}}</strong> | {{res.SendMethod}} to {{res.ReceivedMethod}}<br>
            <strong><p style="font-size: 5px;">Transfer Details</p></strong>
            <strong>{{res.fee}} ({{ res.currency }})</strong>
            <p>Send Fee ({{ res.currency }})</p>
            <strong>{{res.cost}}</strong>
            <p>Total Cost ({{ res.currency }})</p>
            <strong>{{res.percent}}%</strong>
            <p>Total Percent</p>
          </ion-label>
          <ion-label>
            <ion-button class="site">Go to site</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- CHEAPEST - isVector -->
  <div *ngIf="isVector">
    <ion-card *ngFor="let res of results">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <strong>{{ res.received }} {{ res.currency }}</strong><br>
            <strong><p style="font-size: 5px;">Total Received (NZD)</p></strong>
          </ion-label>
          <ion-label>
            <!-- <img [src]="'https://test.sendmoneypacific.org/wp-content/uploads/logos/' + res.operatorsimage" /> -->
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <strong>{{res.transferSpeedTitle}}</strong> | {{res.SendMethod}} to {{res.ReceivedMethod}}<br>
            <strong><p style="font-size: 5px;">Transfer Details</p></strong>
          </ion-label>
          <ion-label>
            <ion-button class="site">Go to site</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</div>

<!-- FASTEST section !isVector -->
<div *ngIf="!isCheapestSelected" id="fastest">
  <div *ngIf="!isVector">
    <ion-card *ngFor="let res of results">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <strong>{{ res.received }} {{ res.currency }}</strong><br>
            <strong><p style="font-size: 5px;">Total Received ({{ res.currency }})</p></strong>
          </ion-label>
          <ion-label>
            <!-- <img [src]="'https://test.sendmoneypacific.org/wp-content/uploads/logos/' + res.operators.image" /> -->
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <strong>{{res.transferSpeedTitle}}</strong> | {{res.SendMethod}} to {{res.ReceivedMethod}}<br>
            <strong><p style="font-size: 5px;">Transfer Details</p></strong>
            <strong>{{res.fee}} ({{ res.currency }})</strong>
            <p>Send Fee ({{ res.currency }})</p>
            <strong>{{res.cost}}</strong>
            <p>Total Cost ({{ res.currency }})</p>
            <strong>{{res.percent}}%</strong>
            <p>Total Percent</p>
          </ion-label>
          <ion-label>
            <ion-button class="site">Go to site</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- fastest section is vector -->

   <div *ngIf="isVector">
    <ion-card *ngFor="let res of results">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <strong>{{ res.received }} {{ res.currency }}</strong><br>
            <strong><p style="font-size: 5px;">Total Received (NZD)</p></strong>
          </ion-label>
          <ion-label>
            <img [src]="'https://test.sendmoneypacific.org/wp-content/uploads/logos/' + res.operators.image" />
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <strong>{{res.transferSpeedTitle}}</strong> | {{res.SendMethod}} to {{res.ReceivedMethod}}<br>
            <strong><p style="font-size: 5px;">Transfer Details</p></strong>
          </ion-label>
          <ion-label>
            <ion-button class="site">Go to site</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</div>


    
</ion-content>
<ion-footer>
  <ion-button class="more-match" expand="full" (click)="getresult()">
    <ion-label>More Matches</ion-label>
  </ion-button>
</ion-footer>