<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="content">
    <ion-item>
      <ion-toggle >Live Update</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        App Version
      </ion-label>
      <ion-text>19</ion-text>
    </ion-item>
  </ion-list>
</ion-content>