.main-div{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.label{
    margin:60px;
    
}
.facebook{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: none;
}
ion-item{
    padding-top:5px ;
    width:90%;
    margin-left: 20px;
}
ion-text{
    font-weight: bold;
    font-size: 16px;
    padding-left: 80px;
    margin-top: 10px;
    font-size: 16px;
}
ion-button{
    --background:rgb(115, 255, 0);
    color: black;
    font-weight: bold;
    padding:30px;
    text-transform: capitalize;
    margin-left: 120px;
}
ion-label{
    margin-left: 120px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.text{
   margin-bottom: 20px;
   padding: 120px;
}
.label{
    color: rgb(12, 12, 69);
    font-size: 16px;
}
