<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <ion-text>Please fill out the following form or message our team <span class="span"> through the SendMoneyPacific </span><br> <a> <span> Facebook Page.</span></a></ion-text><br>
  </div>

  <div class="form">

    <form><br>

      <ion-item>
        <ion-input fill="outline" placeholder="First Name*" color="danger"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-input fill="outline" placeholder="Last Name*" color="danger"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-input fill="outline" placeholder="Email*" color="danger" type="email"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-input fill="outline" placeholder="Phone*" color="danger" type="number"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-input fill="outline" placeholder="Your Message*" color="danger"></ion-input>
      </ion-item><br>

      <ion-button expand="full" >
        <ion-label>Submit</ion-label>
      </ion-button><br>
    </form>
  </div>
  
</ion-content>

