<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-radio-group [allowEmptySelection]="true" value="turtless" slot="start">
      <ion-item>
        <ion-radio value="english">English</ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-radio value="Fijian">Fijian</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Tongan">Tongan</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Bislama">Bislama</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Cook Islands Maori">Cook Islands Maori</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="i-Kiribati">i-Kiribati</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Niuean">Niuean</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Samoan">Samoan</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="Tetum">Tetum</ion-radio>
      </ion-item>
    </ion-radio-group>
  
    
  </ion-list>
</ion-content>
` 